@model Chestionare_online.Models.QuestionViewModel
@{
    ViewData["Title"] = "Examen";
    Layout = "~/Views/Shared/_LayoutExam.cshtml";
}

<div class="exam-start">
    <div class="questions type2">
        <h1 class="questions-title">@Model.QuestionText</h1>
        <div class="question-list">
            @foreach (var option in Model.Options)
            {
                <div class="question" id="question_variant_id_@option.Key" data-key="@option.Key">
                    <div class="question-variant">@option.Key</div>
                    <h4 class="question-title">@option.Value</h4>
                </div>
            }
        </div>
        @if (!string.IsNullOrEmpty(Model.ImageURL))
        {
            <div class="question-image">
                <img src="@Model.ImageURL" alt="Imagine întrebare">
            </div>
        }
    </div>
</div>

<form id="answerForm" method="post" asp-action="SubmitAnswer">
    <input type="hidden" id="selectedAnswers" name="selectedAnswers" value="" />
</form>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        let selectedAnswers = new Set();

        // select the answer
        document.querySelectorAll('.question').forEach(item => {
            item.addEventListener('click', function (event) {
                const variant = this.dataset.key;

                // Permite DOAR selecția, nu și deselectarea
                // the user cant deselect. Deselecting is possiblie using "Modifică răspunsul" button
                //logic copy from DRPCIV :)
                if (!selectedAnswers.has(variant)) {
                    selectedAnswers.add(variant);
                    this.classList.add('selected');
                    document.getElementById('selectedAnswers').value = Array.from(selectedAnswers).join(',');
                }
            });
        });

        // btn "Modifică răspunsul" 
        document.getElementById('answer_button_id_2').addEventListener('click', function () {
            selectedAnswers.clear();
            document.querySelectorAll('.question').forEach(q => q.classList.remove('selected'));
            document.getElementById('selectedAnswers').value = '';
        });

        //  btn "Trimite răspunsul"
        document.getElementById('answer_button_id_3').addEventListener('click', function () {
            if (selectedAnswers.size > 0) {
                document.getElementById('answerForm').submit();
            } else {
                alert('Selectați cel puțin un răspuns!');
            }
        });
    });
</script>
